<!DOCTYPE html>
<html>

<head>

    <title>EMNIST Character Recognition</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>

<body>

    <div class="container">

        <h1>EMNIST Character Recognition</h1>

        <p>
            Draw a handwritten character
        </p>

        <canvas
            id="canvas"
            width="280"
            height="280">
        </canvas>

        <div>

            <button onclick="predict()">
                Predict
            </button>

            <button onclick="clearCanvas()">
                Clear
            </button>

        </div>

        <h2 id="result">
            Prediction: -
        </h2>

    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>
